@using eggWeb.Models.viewmodel
@model VM_EGG
    @{ 
        DateTime dtw = DateTime.Now.AddDays(1);
        string testVer = eggWeb.Models.IniFile.GetConfig("SYS", "TEST");
        string lineURL = "";
    }
<style>
    .nav-film-x {
	background-color: #ffffff;
	border-top: 6px dashed  #000;
	border-bottom: 6px dashed  #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
  }
    .nav-film-y {
	background-color: #ffffff;
	border-left: 6px dashed  #000;
	border-right: 6px dashed  #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
   }


    body {
       font-family: Microsoft JhengHei;
       overflow: hidden;
    }

    .pointer {
        cursor: pointer;
    }

    .center {
        text-align: center;
    }
      .right {
        text-align: right;
    }
       .left {
        text-align: left;
    }
    #homeVisible, #homeVisible .block, #homeVisible .md-content {
        background-color: #FFC107;
    }

    #funcVisible, #funcVisible .block, #funcVisible .md-content {
        /*background-color: #FFC107;*/
    }

    .use-flexbox{
        display:flex;
        align-items:center;
        justify-content:center;
    }

      .page-container {
        overflow: hidden;
        position: relative;
        border: 1px solid rgba(#000, .12);
    }

    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }

    .md-content {
        padding: 16px;
    }
    #infoVisible .md-card {
        margin: 4px;
        display: inline-block;
        vertical-align: top;
      }
     #eventVisible .md-card {
        width: 320px;
        margin: 4px;
        display: inline-block;
        vertical-align: top;
      }

      #scrollTopBtn{
              display: none;
              position: fixed;
              bottom: 20px;
              right: 30px;
              z-index: 99;
              font-size: 18px;
              border: none;
              outline: none;
              background-color: red;
              color: white;
              cursor: pointer;
              padding: 15px;
              border-radius: 4px;
         }
     .nav {
        /*width: 100%;*/
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
 
        /*解决ios上滑动不流畅*/
        -webkit-overflow-scrolling: touch;
        /*纵向超出部分将会隐藏，即滚动条部分被挤出可视区域*/
        padding-bottom: 40px;
    }

作者：YanceYang
链接：https://www.jianshu.com/p/01a85bf1e113
來源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
</style>
<div class="page-container" id="MyApp">
    @*<md-button class="md-icon-button" id="scrollTopBtn">
            <md-icon><i class="fas fa-home"></i></md-icon>
        </md-button>*@
    <button v-on:click="topFunction" id="scrollTopBtn" title="Go to top"><i class="fas fa-home"></i></button>
    <!-- ... 畫面主功能 ... -->
    <div id="content">
        <!-- ... 首頁 ... -->
        <div class="block" id="homeVisible">
            <md-content>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">
                        <img src="~/Images/logo.svg" width="150" />
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">
                        <img src="~/Images/egg_data.png" width="150" style="padding: 25px;" />
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">
                        <p>蛋營養豐富～但你對蛋有多少了解呢？吃下口的是好蛋或壞蛋？</p>
                        <p>在食用雞蛋的同時，您是否真正了解雞蛋呢??就讓危雞百顆來為您解答吧!</p>
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center pointer">
                        <img src="~/Images/go.png" width="150" v-on:click="toggleFunction(1)" style="padding: 25px;" />
                    </div>
                </div>
            </md-content>
        </div> <!-- ... 首頁 ... -->
        <!-- ... 功能畫面 ... -->
        <div class="block" id="funcVisible" >
            <md-content id="func_block" style="overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling: touch;" class="md-scrollbar">
                <div  class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                            <img src="~/Images/test_fun.svg" width="250" v-on:click="toggleFunction(2)" />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                            <img src="~/Images/info_fun.svg" width="250" v-on:click="toggleFunction(3)" />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                            <img src="~/Images/event_fun.svg" width="250" v-on:click="toggleFunction(4)" />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                            <img src="~/Images/bot_fun.svg" width="250" v-on:click="toggleFunction(5)" />
                        </div>
                    </div>
                </div>
            </md-content>
        </div><!-- ... 功能畫面 ... -->
        <!-- ... 蛋蛋測驗區 ... -->
        <div class="block" id="testVisible">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-section-start">
                    <img src="~/Images/test_title_bar.png"width="200"  />
                </div>
                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon><i class="fas fa-bars"></i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content v-if="nowFunc == 'testVisible'" id="testSteppers" class="md-scrollbar" style="overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling: touch;">
                <md-steppers md-vertical :md-active-step.sync="testActive" md-linear>

                    <md-step id="a" :md-done.sync="a" md-label="來源管道" md-description="你在哪裡的天氣、溫度和蛋蛋的健康也有關係唷!">
                        <md-content>
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
                                    <img src="~/Images/map.png" width="400" />
                                </div>
                                <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
                                    <md-field>
                                        <label for="BUY_PLACE">你在哪裡</label>
                                        <md-select v-model="test.BUY_PLACE" name="BUY_PLACE" id="BUY_PLACE">
                                            <md-option value="我在北部">北部</md-option>
                                            <md-option value="我在中部">中部</md-option>
                                            <md-option value="我在南部">南部</md-option>
                                        </md-select>
                                    </md-field><br />
                                    <md-button class="md-raised md-primary" v-on:click="setDone('a', 'b')" :disabled="sending">Continue</md-button>
                                </div>
                            </div>
                        </md-content>

                    </md-step>

                    <md-step id="b" :md-done.sync="b" md-label="購買管道" md-description="你在哪裡買也和蛋蛋的健康有關係唷! ex. 傳統市場非洗選蛋，則量販店冷藏通常為洗選蛋">
                        <md-content>
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
                                    <img src="~/Images/egg.png" width="400" />

                                </div>
                                <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
                                    <md-field>
                                        <label for="WASH_EGG">你在哪裡買的蛋</label>
                                        <md-select v-model="test.WASH_EGG" name="WASH_EGG" id="WASH_EGG">
                                            <md-option value="我買的不是洗選蛋">傳統市場</md-option>
                                            <md-option value="我買的是洗選蛋">量販店冷藏</md-option>
                                            <md-option value="我買的是洗選蛋">便利商店</md-option>
                                            <md-option value="我買的不是洗選蛋">量販店未冷藏區</md-option>
                                        </md-select>
                                    </md-field><br />
                                    <md-button class="md-raised md-primary" v-on:click="setDone('b', 'c')">Continue</md-button>
                                </div>
                            </div>
                        </md-content>

                    </md-step>

                    <md-step id="c" :md-done.sync="c" md-label="購買日期" md-description="蛋蛋從接觸空氣開始，新鮮度會開始降低!">
                        <md-content style="overflow-x:scroll" class="md-scrollbar">
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
                                    購買日期:{{test.BUY_DATE}}
                                </div>
                                <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
                                    <vuejs-datepicker v-model="test.BUY_DATE" :format="customFormatter" :inline="true"></vuejs-datepicker><br />
                                    <md-button class="md-raised md-primary" v-on:click="setDone('c', 'd')" :disabled="sending">Continue</md-button>
                                </div>
                            </div>
                        </md-content>

                    </md-step>

                    <md-step id="d" :md-done.sync="d" md-label="保存方式" md-description="蛋蛋放在哪裡也和新鮮度有關係唷!">
                        <md-content>
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-50 center">
                                    <img src="~/Images/freaze.svg" id="test_freeze" v-on:click="STORE_style('我把雞蛋放在冰箱');" width="300"/>
 
                                </div>
                                <div class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-50 center">
                                    <img src="~/Images/fun.svg"  id="test_temp" v-on:click="STORE_style('我把雞蛋放在室溫');" width="300"/>
 
                                </div>
                            </div>
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-50 center">
                                    <md-checkbox v-model="freeze"   :style="{'background-color':freeze_color }"  :disabled="true">冷藏</md-checkbox>
                                </div>
                                <div class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-50 center">
                                    <md-checkbox v-model="temp"   :style="{'background-color':temp_color }" :disabled="true">室溫</md-checkbox>
                                </div>
                            </div>
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item">
                                    <md-button class="md-raised md-primary pull-right" v-on:click="setDone('d', 'f')" :disabled="sending">取得結果</md-button>
                                </div>
                              
                               
                            </div>
                        </md-content>

                    </md-step>

                    <md-step id="f" :md-done.sync="f" md-label="健康指數" md-description="根據你的蛋蛋狀況算出你的蛋蛋新鮮度!">
                        <md-content v-if="!sending">
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100">
                                    <h3>{{test.RESULT_DESC}}</h3>
                                </div>
                                <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100">
                                    <md-button class="md-raised md-primary pull-right" v-on:click="setDone('f','a')" :disabled="sending">重新測驗</md-button>
                                </div>
                            </div>
                        </md-content>
                        <md-content v-else>
                            <div class="md-layout md-gutter md-alignment-center">
                                <div class="md-layout-item center">
                                    <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                                </div>
                            </div>
                        </md-content>
                    </md-step>
                </md-steppers>
            </md-content>
            <template v-else>
                <md-content>
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                            <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                        </div>
                    </div>
                </md-content>

            </template>
        </div> <!-- ... 蛋蛋測驗區 ... -->
        <!-- ... 蛋蛋知識區 ... -->
        <div class="block" id="infoVisible">
            <md-toolbar class="md-primary" md-theme="purple_theme">
                <div class="md-toolbar-section-start">
                    <img src="~/Images/info_title_bar.png"width="200"  />
                </div>
                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon><i class="fas fa-bars"></i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <md-menu :md-active.sync="toggleInfoMenu" md-direction="bottom-end">
                    <md-button md-menu-trigger>危雞知識庫<strong>{{toggleInfoMenuTitle}}</strong></md-button>
                    <md-menu-content>
                        <md-menu-item v-for="j in tabList" v-on:click="toggleInfoMenu = !toggleInfoMenu;toggleInfoMenuTitle = ':'+j.M_DESC;toggleInfoMenuBar(j.M_ID ); ">
                            <md-button>
                                {{j.M_DESC}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                @*<md-menu >
                    <md-button>危雞百顆小測驗</md-button>
                </md-menu>*@
                 <md-content>
                     <md-divider class="md-outset"></md-divider>
                     <template v-if="nowFunc == 'infoVisible'">
                         <template :md-active.sync="info.isShow">
                             <md-content v-for="j in tabList" :id="'tab-type'+j.M_ID" :md-label="j.M_DESC" v-show="toggleInfoMenuTitle == ':'+j.M_DESC"   >
                                 <md-content :id="'tab-type'+j.M_ID + 'content'" style="overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling: touch;" class="md-scrollbar">
                                     <template v-for="i in info.infoList.filter(x => x.M_ID == j.M_ID)"> 
                                         <div class="md-layout md-gutter md-alignment-top-center">
                                             <div class="md-layout-item md-size-10  ">
                                                 <i class="far fa-question-circle" style="color: orange;"></i>
                                             </div>
                                             <div class="md-layout-item">
                                                 <div class="md-title"><h3>{{i.Q_DESC}}</h3></div>
                                             </div>
                                         </div>
                                         <div class="md-layout md-gutter md-alignment-top-center">
                                             <div class="md-layout-item md-size-10">
                                                 <i class="fas fa-check-circle" style="color: green;"></i>
                                             </div>
                                             <div class="md-layout-item">
                                                 <md-content v-if="i.isShow">
                                                     {{i.Q_MEMO}}
                                                 </md-content>
                                                 <template v-else>
                                                     <md-list>
                                                         <md-list-item v-on:click="i.isShow = !i.isShow;">
                                                             <i class="fas fa-eye"></i>
                                                             <span class="md-list-item-text">&ensp;show me Anser</span>
                                                         </md-list-item>
                                                     </md-list>
                                                 </template>
                                             </div>
                                         </div>
                                         <md-divider class="md-outset"></md-divider>
                                     </template>
                                 </md-content>
                             </md-content>
                         </template>
                     </template>
                     <template v-else>
                         <div class="md-layout md-gutter md-alignment-center">
                             <div class="md-layout-item center">
                                 <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                             </div>
                         </div>
                     </template>
                 </md-content> 
            </md-content>
        </div> <!-- ... 蛋蛋知識區 ... -->
        <!-- ... 蛋蛋事件區 ... -->
        <div class="block" id="eventVisible">
            <md-toolbar class="md-primary" md-theme="orange_theme">
 
                <div class="md-toolbar-section-start">
                    <img src="~/Images/event_title_bar.png"width="200" />
                </div>
                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon><i class="fas fa-bars"></i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
               <template v-if="nowFunc == 'eventVisible'">
                   <md-field>
                       <label>Search</label>
                       <md-input v-model="eventText"></md-input>
                       <span class="md-helper-text">關鍵字收尋</span>
                   </md-field>
                   <md-content id="eventCard" style="overflow-y:auto;overflow-x:auto;-webkit-overflow-scrolling: touch;" class="md-scrollbar">
                       <template v-if="event.eventList.length > 0">
                           <template v-for="i in event.eventList">
                               <div class="md-layout md-gutter md-alignment-top-center">
                                   <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                                       <span class="md-title">{{i.EVENT_DATE}}</span><br />
                                       <span class="md-title">{{i.EVENT_TITLE}}</span>
                                   </div>
                                   <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                                       <md-card>
                                           <md-card-media-cover md-text-scrim>
                                               <md-card-media md-ratio="16:9">
                                                   <img v-bind:src="'@(Url.Content("~/Images/EVENT/"))'+i.EVENT_FILE" alt="Skyscraper" class="nav-film-y">
                                               </md-card-media>

                                               <md-card-area>
                                                   <md-card-header>

                                                   </md-card-header>
                                                   <md-card-actions>
                                                       <md-button :href="i.EVENT_URL" target="_blank">GO</md-button>
                                                   </md-card-actions>
                                               </md-card-area>
                                           </md-card-media-cover>
                                       </md-card>

                                   </div>

                                   <div class="md-layout-item md-medium-size-33 md-small-size-100 md-xsmall-size-100">
                                       <md-content>
                                           <span class="md-subhead">{{i.EVENT_DESC}}...</span>
                                       </md-content>
                                   </div>

                               </div>
                               <md-divider class="md-outset"></md-divider>
                           </template>
                       </template>
                       <template v-else>
                           <md-empty-state md-rounded
                                           md-icon="access_time"
                                           md-label="查無此關鍵字"
                                           md-description="">
                           </md-empty-state>
                       </template>
                   </md-content>
               </template>
                <template v-else>
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                            <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                        </div>
                    </div>
                </template>
            </md-content>
        </div> <!-- ... 蛋蛋事件區 ... -->
        <!-- ... 蛋蛋機器人 ... -->
        <div class="block" id="botVisible">
            <md-toolbar class="md-primary" md-theme="green_theme">
               
                <div class="md-toolbar-section-start">
                    <img src="~/Images/bot_title_bar.png"width="200" />
                </div>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon><i class="fas fa-bars"></i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content  >
                <md-content v-if="nowFunc == 'botVisible'" id="botCard" style="overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling: touch;" class="md-scrollbar">

                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item md-size-10">

                        </div>
                        <div class="md-layout-item ">
                            <md-card>
                                <md-card-media>
                                    <img src="~/Images/LINEBOT.svg" alt="lineEgg">
                                </md-card-media>
                                <md-card-content>
                                    <div class="md-layout md-gutter md-alignment-center">
                                        <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100 center">
                                            @if (testVer.Trim() == "1")
                                            {
                                                <img src="@Url.Content(eggWeb.Models.IniFile.GetConfig("Web","testQRcode"))" /> /**/
                                            }
                                            else
                                            {
                                                <img src="@Url.Content(eggWeb.Models.IniFile.GetConfig("Web","lineQRcode"))" />
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="md-layout md-gutter md-alignment-center">
                                        <div class="md-layout-item  md-medium-size-100 md-small-size-100 md-xsmall-size-100 center">
                                            @if (testVer.Trim() == "1")
                                            {

                                                lineURL = eggWeb.Models.IniFile.GetConfig("Web", "testQRcodeURL");
                                            }
                                            else
                                            {

                                                lineURL = eggWeb.Models.IniFile.GetConfig("Web", "lineQRcodeURL");
                                            }
                                            <md-button href="@(lineURL)" class="md-primary">@lineURL</md-button>
                                        </div>
                                    </div>

                                    <div class="md-layout md-gutter md-alignment-center">
                                        <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100 center">
                                            掃描QRCode 加入好友
                                        </div>
                                    </div>
                                    
                                </md-card-content>
                                @*<img src="~/Images/footor.png" />*@
                                <img src="~/Images/footor.svg" />
                            </md-card>
                        </div>
                        <div class="md-layout-item md-size-10">
                            

                        </div>
                    </div>

                </md-content>
                
                <template v-else>
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                            <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                        </div>
                    </div>
                </template>
            </md-content>
        </div> <!-- ... 蛋蛋機器人 ... -->
    </div><!-- ... 畫面主功能 ... -->
    <!-- ... 側邊選單 ... -->
    <md-drawer class="md-right" :md-active.sync="showNavigation">
        <md-toolbar class="md-transparent" md-elevation="0">
            <div class="md-toolbar-section-start">
                <md-button class="md-icon-button md-dense" v-on:click="showNavigation = !showNavigation">
                    <md-icon><i class="fas fa-angle-right"></i></md-icon>
                </md-button>
                <span v-on:click="toggleFunction(0)">
                    <img src="~/Images/logo_text.svg" width="150" />
                </span>
            </div>
        </md-toolbar>
        <md-list>
 
            <md-list-item v-on:click="toggleFunction(2)">
                <img src="~/Images/test_title.svg" />
            </md-list-item>

            <md-list-item v-on:click="toggleFunction(3)">
                <img src="~/Images/info_title.svg" />
            </md-list-item>
            <md-list-item v-on:click="toggleFunction(4)">
                <img src="~/Images/event_title.svg" />
            </md-list-item>
            <md-list-item v-on:click="toggleFunction(5)">
                <img src="~/Images/bot_title.svg" />
            </md-list-item>
 
        </md-list>
    </md-drawer> <!-- ... 側邊選單 ... -->
    <md-dialog-alert :md-active.sync="showSnackbar"
                     v-bind:md-content="SnackbarMsg"
                     md-confirm-text="close" />
</div>
@section scripts {
    <script>

        var set_vm = {
            freeze_color: '',
            temp_color: '',
            freeze: false,
            temp:false,
            eventText:'',
            sending:false,
            SnackbarMsg : '',
            showSnackbar: false,
            position: 'center',
            duration: 2000,
            isInfinity: false,
            testActive: 'a',
            a: false, b: false, c: false, d: false, f: false,
            //e: false,
            toggleInfoMenu: false,
            toggleInfoMenuTitle:'',
            nowFunc:'',
            DivList:[],
            showNavigation: false,//顯示側邊功能選單
            scrolling: false,//是否正在滾動
            allowNextAnimation: true,//是否正在滾動Animation
            setView: '',//設定指定頁面
            home: {},
            func: {},
            info: { infoList: [], infoTest:[],isShow:false},
            event: { eventList: [], isShow: false },
            bot: {},
        };
        var vm = new Vue({
            name: 'eggData',
            data: Object.assign(set_vm, JSON.parse('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))')),
            methods: {
                STORE_style: function (pVal) {
                    this.test.STORE = pVal;
                    if (this.test.STORE == '我把雞蛋放在冰箱') {
                        $('#test_freeze').css('color', 'green');
                        $('#test_temp').css('color', 'gray');
                        this.freeze = true;
                        this.temp = false;
                        this.freeze_color = '#ff5252';
                        this.temp_color = 'white';


                    } else if (this.test.STORE == '我把雞蛋放在室溫') {
                        //我把雞蛋放在室溫
                        $('#test_freeze').css('color', 'gray');
                        $('#test_temp').css('color', 'green');
                        this.temp = true;
                        this.freeze = false;
                        this.freeze_color = 'white';
                        this.temp_color = '#ff5252';
                    }
                },//STORE_style
                customFormatter: function (date) {
                    this.test.BUY_DATE = moment(date).format('YYYY-MM-DD');
                    return moment(date).format('MMMM Do YYYY, h:mm:ss a');
                },//customFormatter
                setDone: function (id, index) {
                    //console.log(id);
                    var canNext = true;
                    switch (id) {
                        case 'a':
                            if (!this.test.BUY_PLACE) {
                                canNext = false;
                                this.SnackbarMsg = '請選擇所在地區!';
                                this.showSnackbar = true;
                            }
                            break;
                        case 'b':
                            if (!this.test.WASH_EGG) {
                                canNext = false;
                                this.SnackbarMsg = '請選擇購買管道!';
                                this.showSnackbar = true;
                            }
                            break;
                        case 'c':
                            if (!this.test.BUY_DATE) {
                                canNext = false;
                                this.SnackbarMsg = '請選擇購買日期!';
                                this.showSnackbar = true;
                            } else {
                                if (moment(this.test.BUY_DATE) > moment()) {
                                    canNext = false;
                                    this.SnackbarMsg = '不能選擇未來日期，請重新輸入!';
                                    this.showSnackbar = true;
                                }
                            }
                            break;
                        case 'd':
                            if (!this.test.STORE) {
                                canNext = false;
                                this.SnackbarMsg = '請選擇保存方式!';
                                this.showSnackbar = true;
                            } else {
                                this.sending = true;
                                this.$http.post('@Url.Content("~/Data/getWebTestResult")', { pData: this.test }).then((response) => {
                                    this.test = response.data.attachment;
                                    this.sending = false;

                                }, (response) => {
                                    console.log(response);
                                    this.Error(response);
                                });
                            }
                            break;
                        case 'f':
                            //清空資料
                            this.test = JSON.parse(JSON.stringify(this.testSet));
                            this.a = false;
                            this.b = false;
                            this.c = false;
                            this.d = false;
                            this.f = false;
                            break;
                        default:
                            break;
                    }
                    if (canNext) {
                        if (id != 'f') {
                            this[id] = true
                        }
                        if (index) {
                            this.testActive = index
                        }
                    }

                },//setDone
                toggleFunction: function (pView, pTime) {
                    //移動至指定功能
                    this.showNavigation = false;
                    pTime = !!pTime ? pTime : 500;
                    this.setView = pView;
                    console.log(this.setView);
                    setTimeout(function () {
                        $('#content').animate({ scrollTop: vm.topList[vm.setView] }, 500, function () {
                            vm.scrolling = false;
                            vm.allowNextAnimation = false;
                            vm.nowFunc = vm.DivList[pView];
                            vm.scrollFunction();
                            return false;
                        });
                    }, 200);
                },//toggleFunction
                scrollFunction:function(){
                    if ($("#homeVisible").offset().top < 0) {
                        document.getElementById("scrollTopBtn").style.display = "block";
                    } else {
                        document.getElementById("scrollTopBtn").style.display = "none";
                    }
                },//scrollFunction
                topFunction:function(){
                    this.toggleFunction(0);
                },//topFunction
                setScroll: function () {
                    //// should start at 0
                    var nowDiv = vm.tabList;
                    $('#content').on('scroll touchmove mousewheel', function (event) {
                        if ((!this.scrolling && this.allowNextAnimation) || !!this.setView) {
                            this.scrolling = true;
                            console.log($('#content').scrollTop());
                            nowDiv = this.topList.indexOf($('#content').scrollTop());
                            console.log('之前:' + nowDiv);
                            if (nowDiv >= 0) {
                                if (event.originalEvent.wheelDelta >= 0) {
                                    console.log('Scroll up');
                                    if (nowDiv >= 0) {
                                        if (nowDiv >= this.topList.length - 1) {
                                            nowDiv = 0;
                                        } else {
                                            nowDiv = nowDiv + 1;
                                        }
                                    }
                                }
                                else {
                                    console.log('Scroll down');
                                    if (nowDiv >= 0) {
                                        if (nowDiv <= 0) {
                                            nowDiv = this.DivList.length - 1;
                                        } else {
                                            nowDiv = nowDiv - 1;
                                        }
                                    }
                                }
                            }
                            console.log(this.setView);
                            if (!this.setView) {
                                $('#content').animate({ scrollTop: topList[nowDiv] }, 1000, function () {
                                    this.scrolling = false;
                                    this.allowNextAnimation = false;
                                });
                                console.log('現在:' + nowDiv);
                            }
                            this.setView = '';
                            return false;
                        }
                        this.allowNextAnimation = true;
                    });
                },//setScroll
                toggleInfoMenuBar:function(i){
                    setTimeout(function (i) {
                        var i = vm.tabList.filter(x => x.M_DESC == vm.toggleInfoMenuTitle.replace(':', ''))[0].M_ID;
                        $('#tab-type' + i + 'content').css('height', window.innerHeight - $('#tab-type' + i + 'content').offset().top);
                    }, 500);
                },//toggleInfoMenuBar
            },//methods
            computed: {

            },//computed
            watch: {
                eventText: function (value) {
                    var _text = '';
                    if (value.indexOf('egg') >= 0) {
                        _text = '蛋';
                    }
                    var _temp = Object.assign(this.eventListALL).filter(x => x.EVENT_DATE.indexOf(value) >= 0 || x.EVENT_TITLE.indexOf(value) >= 0 || x.EVENT_DESC.indexOf(value) >= 0);
                    if (!!_text) {
                        this.event.eventList = Object.assign(_temp, Object.assign(this.eventListALL).filter(x => x.EVENT_DATE.indexOf(_text) >= 0 || x.EVENT_TITLE.indexOf(_text) >= 0 || x.EVENT_DESC.indexOf(_text) >= 0));
                    } else {
                        this.event.eventList = _temp;
                    }
                },
                nowFunc: function (value) {
                    switch (value) {
                        case 'infoVisible':
                            setTimeout(function () {
                                //$('#infoLab').css('height', window.innerHeight - $('#infoLab').offset().top);
                                for (var i = 1; i < 7; i++) {
                                    $('#tab-type' + i + 'content').css('height', window.innerHeight - $('#tab-type' + i + 'content').offset().top);
                                }
                            }, 500);
                            break;
                        case 'funcVisible':
                            setTimeout(function () { $('#func_block').css('height', window.innerHeight - $('#func_block').offset().top); }, 500);
                            break;
                        case 'eventVisible':
                            setTimeout(function () { $('#eventCard').css('height', window.innerHeight - $('#eventCard').offset().top); }, 500);
                            break;
                        case 'testVisible':
                            setTimeout(function () { $('#testSteppers').css('height', window.innerHeight - $('#testSteppers').offset().top); }, 500);
                            break;
                        case 'botVisible':
                            setTimeout(function () { $('#botCard').css('height', window.innerHeight - $('#botCard').offset().top); }, 500);
                            break;
                        default:
                            break;
                    }
                }
            },//watch
            mounted() {
                //畫面初始設定，只會在載入時執行一次
                this.setView = '';
                this.testSet = JSON.parse(JSON.stringify(this.test));
                $('#content').css('height', window.innerHeight - $('#content').offset().top).css('overflow', 'hidden');
                $('.block').css('height', window.innerHeight - $('#content').offset().top);
                $(window).scrollTop(0);
                this.DivList = ['homeVisible', 'funcVisible', 'testVisible', 'infoVisible', 'eventVisible', 'botVisible'];
                var topHeght = $("#homeVisible").offset().top;
                this.topList = [0, $("#" + this.DivList[1]).offset().top - topHeght,
                                $("#" + this.DivList[2]).offset().top - topHeght,
                                $("#" + this.DivList[3]).offset().top - topHeght,
                                $("#" + this.DivList[4]).offset().top - topHeght,
                                $("#" + this.DivList[5]).offset().top - topHeght];

                //取的Info資料
                this.$http.post('/Home/getInfo').then((response) => {
                    this.info.infoList = Object.assign([], response.data);
                    vm.info.isShow = true;
                    //預設第一個
                    this.toggleInfoMenuTitle = ':' + this.tabList[0].M_DESC;
                }, (response) => {

                });
                //取的getEvent資料
                this.$http.post('/Home/getEvent').then((response) => {
                    this.event.eventList = Object.assign([], response.data);
                    this.eventListALL = Object.assign([], response.data);
                    vm.event.isShow = true;
                }, (response) => {

                });
                //this.toggleFunction(2);
            },//mounted
            components: {
                vuejsDatepicker
            }
        }).$mount("#MyApp");
    </script>
}

 
 


